/*general stylesheets*/
html { font-size: 62.5%;}

body {
    font-size: 1.5rem;
    line-height: 145.8%;
    color: white;
    background-color: black;
    font-family: 'Sans'; }

nav {
    position: relative;
    width: 100%;
    background-color: black;
    font-size: 14px; 
    position: fixed;
    top: 0em;
    z-index: 2; 
display: none; }
a {
    color: white;
    text-decoration: none; }
a:hover {
    text-decoration: underline; }

aside {
    background-color: rgb(128, 9, 9);
    position: absolute;
    right: 0%;
    width: 33.3%;
    height: fit-content;
    display: none;
}

/* article stylesheets*/
#arc {
    width: 300px;
    min-height: 300px;
    background-color: rgba(211, 95, 95, 0.5);
    border: 0.5mm rgb(128, 9, 9) solid;
    text-align: center; }

#arc2 {
    background-color: rgba(0, 0, 139, 0.733);
    min-height: fit-content; }

#arc2_1 {
    background-color: rgba(17, 17, 204, 0.623);
    min-height: fit-content }

#arc3 {
    background-color: rgb(224, 106, 52); }

#arc3_1 {
    background-color: rgb(37, 107, 173);
    min-height: fit-content; }

#arc3_2 {
    background-color: rgba(255, 255, 0, 0.664); }

#Html {
    background-color: white;   }

#Css {
    background-color: white; }

#Javascript {
    background-color: white; }
/* dropdown stylesheets */
#button {
    width: px;
    background-color: rgb(48, 48, 48);
    
    text-align: center; }

#button {
    margin-right: 1rem; }

#dropdown { 
    top: 0.0em; 
    transition: opacity 0.5ms ease-out; }

#content {
    background-color: white;
    color:black;
    opacity: 0;
    position: absolute;
    min-width: 93px; 
    transition: opacity 250ms; }

#dropdown:hover #content { opacity: 1; }

#arrow {
    transform: rotate(0deg);
    transition: all 62.5ms;
    background-color: white;
}

#dropdown:hover img { transform: rotate(90deg);}

.text-content { color: black; }


/*different breakpoints*/
@media screen and (min-width: 35em) {
    .arc img {
        position: absolute;
        opacity: 0;
        left: 31rem;
        transition: opacity 250ms ease-out;
 }
nav {
    display: block;
}

.arc:hover img {
    opacity: 1;
}
    .button {
        display: block;
 } }
 @media screen and (min-width: 65em){
    aside {
        font-size: 22px;
        display:inline-block;
    }
    aside img { float: left; }
    
 }