/*general stylesheets*/
html { font-size: 62.5%;}

body {
    font-size: 1.5rem;
    line-height: 145.8%;
    color: white;
    background-color: black;
    font-family: 'Sans'; }

nav {
    width: 100%;
    background-color: black;
    font-size: 14px; 
    position: fixed;
    top: 0em;
    z-index: 2; 
    display: none; }

#nav-mobile { position: fixed;
        background-color: black;
        width: 100%; 
        top:0.0em; }

a {
    color: white;
    text-decoration: none; }
a:hover {
    text-decoration: underline; }

aside {
    background-color: rgb(128, 9, 9);
    position: absolute;
    top: 2%;
    right: 0%;
    width: 386px;
    display: none; }

/* article stylesheets*/
#arc {
    width: 300px;
    min-height: 300px;
    background-color: rgba(211, 95, 95, 0.5);
    border: 0.5mm rgb(128, 9, 9) solid;
    text-align: center; }

#arc2 {
    background-color: rgba(0, 0, 139, 0.733); }

#arc2_1 {
    background-color: rgba(17, 17, 204, 0.623); }

#arc3 {
    background-color: rgb(224, 106, 52); }

#arc3_1 {
    background-color: rgb(37, 107, 173); }


#arc3_2 {
    background-color: rgba(255, 255, 0, 0.664); }

.white-back { background-color: white; }

footer { margin-top: 1.6rem; border-top: 0.01rem white solid; }

/* dropdown stylesheets */
#dropdown { 
    position: fixed;
    top: 0.0em; 
    transition: all 0.5ms; }

#button {
    width: 50px;
    background-color: rgb(48, 48, 48);
    text-align: center; }

#button { margin-right: 1rem; }

#content {
    background-color: white;
    width: 9.3rem;
    opacity: 0;
    transition: all 250ms; }


#dropdown:hover #content { opacity: 1; }

.text-content {
    color: black;
    display: inline-block;
    width: 9.3rem;
    transition: all 62.5ms; }

#dropdown .text-content:hover { background-color: grey; }

#arrow {
    transform: rotate(0deg);
    transition: all 125ms;
    background-color: white; }

#dropdown:hover #arrow { transform: rotate(90deg); }

/*different breakpoints(screen sizes)*/
@media screen and (min-width: 35em) {
    .arc img {
        position: absolute;
        opacity: 0;
        left: 31rem;
        transition: all 250ms; }
nav { display: inline-block; }

#nav-mobile { display: none; }

.arc:hover img { opacity: 1; } 
}

 @media screen and (min-width: 65em) {
    #remove-a {
        display: none;
    }
    aside {
        font-size: 22px;
        display:block; }

    aside img { float: left; } }